body {
  background-image: url("1673871816686.JPG");
  background-size: cover;      /* pour remplir l’écran */
  background-position: top; /* centré */
  background-repeat: no-repeat;
  min-height: 100vh;
}
